html, body { 
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.mat-mdc-menu-panel {
  max-height: none !important;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

.mat-mdc-menu-item {
  min-height: 36px !important;
}

.document-actions-menu .mat-mdc-menu-panel {
  overflow-y: hidden !important;
}

.mat-mdc-menu-content:not(:empty) {
  padding: 0;
}
