<div class="container">
  <div class="table-container">
    <div class="header-container">
      <h2>Documents Table</h2>
      <button mat-raised-button color="primary" (click)="addNewItem()">
        <mat-icon>add</mat-icon>
        Add New
      </button>
    </div>

    <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
      
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> File </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.status)"> 
          <span class="status-badge">{{element.status | formatStatus}}</span>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> Creator </th>
        <td mat-cell *matCellDef="let element"> {{element.creator?.fullName || 'Not specified'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-header"> Actions </th>
        <td mat-cell *matCellDef="let element" class="actions-cell">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before" class="document-actions-menu">
            <button mat-menu-item (click)="viewItem(element)" class="document-action-button">
              <mat-icon>visibility</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item *ngIf="canSubmitForReview(element.status)" (click)="submitForReview(element)" class="document-action-button">
              <mat-icon>send</mat-icon>
              <span>Submit for review</span>
            </button>
            <button mat-menu-item *ngIf="canDecline(element.status)" (click)="declineItem(element)" class="document-action-button">
              <mat-icon>block</mat-icon>
              <span>Decline</span>
            </button>
            <button mat-menu-item *ngIf="canDelete(element.status)" (click)="deleteItem(element)" class="document-action-button">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator
      [length]="totalItems()"
      [pageSize]="pageSize()"
      [pageIndex]="pageIndex()"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>
